
# Log file
*.log

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tar.gz
*.zip
*.war
*.ear
*.sar
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.settings/
.classpath
.project

# Maven
target/

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# MAC OS
.DS_Store

# Misc
*.swp
